@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply min-h-screen bg-slate-50;
   }
   /* #root {
      padding-top: 4rem;
   } */
   .hero_section {
      @apply flex min-h-screen justify-center px-[15%] py-[6rem] flex-col;
      background-image: url('assets/hero-image.svg');
      background-size: contain;
   }
   .hero_section h1 {
      @apply lg:text-[4rem] lg:leading-tight text-3xl font-bold;
      backdrop-filter: blur(2px);
   }
   .hero_section p {
      backdrop-filter: blur(2px);
   }
}
